<!DOCTYPE html>
html(lang="jp")
head
  meta(charset="UTF-8")
  title webpack sample
body#top
  h1 Webpack Sample
  
  .box(style="height: 4000px;")
  a(href="#top") TOP
  
  script(src="../js/index.js")
  
